.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

#portfolio .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    flex-direction: column;
    align-content: center;
}

    .row > * {
        box-sizing: border-box;
    }

    .row.aln-center {
        justify-content: center;
    }

    .row > .col-4 {
        width: 33.33333%;
    }

    .row > .col-8 {
        width: 66.66667%;
    }

    .row {
        margin-top: -25px;
        margin-left: -25px;
    }

        .row > * {
            padding: 25px 0 0 25px;
        }

    @media screen and (max-width: 1680px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }

            .row.aln-center {
                justify-content: center;
            }

            .row {
                margin-top: -25px;
                margin-left: -25px;
            }

                .row > * {
                    padding: 25px 0 0 25px;
                }
    }

    @media screen and (max-width: 1280px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }

            .row.aln-center {
                justify-content: center;
            }

            .row > .col-5-large {
                width: 41.66667%;
            }

            .row > .col-7-large {
                width: 58.33333%;
            }

            .row {
                margin-top: -25px;
                margin-left: -25px;
            }

                .row > * {
                    padding: 25px 0 0 25px;
                }
            }

    @media screen and (max-width: 980px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }


            .row.aln-center {
                justify-content: center;
            }

            .row > .col-6-medium {
                width: 50%;
            }

           


           

            .row > .col-12-medium {
                width: 100%;
            }

            

                
            .row {
                margin-top: -25px;
                margin-left: -25px;
            }

                .row > * {
                    padding: 25px 0 0 25px;
                }
    }

    @media screen and (max-width: 736px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }



            .row.aln-center {
                justify-content: center;
            }

            

            .row > .off-2-small {
                margin-left: 16.66667%;
            }

            .row > .col-3-small {
                width: 25%;
            }

            .row > .off-3-small {
                margin-left: 25%;
            }

            .row > .col-4-small {
                width: 33.33333%;
            }

            .row > .off-4-small {
                margin-left: 33.33333%;
            }

            .row > .col-5-small {
                width: 41.66667%;
            }

            .row > .off-5-small {
                margin-left: 41.66667%;
            }

            .row > .col-6-small {
                width: 50%;
            }

            .row > .off-6-small {
                margin-left: 50%;
            }

            .row > .col-7-small {
                width: 58.33333%;
            }

            .row > .off-7-small {
                margin-left: 58.33333%;
            }

            .row > .col-8-small {
                width: 66.66667%;
            }

            .row > .off-8-small {
                margin-left: 66.66667%;
            }

            .row > .col-9-small {
                width: 75%;
            }

            .row > .off-9-small {
                margin-left: 75%;
            }

            .row > .col-10-small {
                width: 83.33333%;
            }

            .row > .off-10-small {
                margin-left: 83.33333%;
            }

            .row > .col-11-small {
                width: 91.66667%;
            }

            .row > .off-11-small {
                margin-left: 91.66667%;
            }

            .row > .col-12-small {
                width: 100%;
            }

            .row > .off-12-small {
                margin-left: 100%;
            }

            .row.gtr-0 {
                margin-top: 0px;
                margin-left: 0px;
            }

                .row.gtr-0 > * {
                    padding: 0px 0 0 0px;
                }

                .row.gtr-0.gtr-uniform {
                    margin-top: 0px;
                }

                    .row.gtr-0.gtr-uniform > * {
                        padding-top: 0px;
                    }

            .row.gtr-25 {
                margin-top: -3.75px;
                margin-left: -3.75px;
            }

                .row.gtr-25 > * {
                    padding: 3.75px 0 0 3.75px;
                }

                .row.gtr-25.gtr-uniform {
                    margin-top: -3.75px;
                }

                    .row.gtr-25.gtr-uniform > * {
                        padding-top: 3.75px;
                    }

            .row.gtr-50 {
                margin-top: -7.5px;
                margin-left: -7.5px;
            }

                .row.gtr-50 > * {
                    padding: 7.5px 0 0 7.5px;
                }

                .row.gtr-50.gtr-uniform {
                    margin-top: -7.5px;
                }

                    .row.gtr-50.gtr-uniform > * {
                        padding-top: 7.5px;
                    }

            .row {
                margin-top: -15px;
                margin-left: -15px;
            }

                .row > * {
                    padding: 15px 0 0 15px;
                }

                .row.gtr-uniform {
                    margin-top: -15px;
                }

                    .row.gtr-uniform > * {
                        padding-top: 15px;
                    }

            .row.gtr-150 {
                margin-top: -22.5px;
                margin-left: -22.5px;
            }

                .row.gtr-150 > * {
                    padding: 22.5px 0 0 22.5px;
                }

                .row.gtr-150.gtr-uniform {
                    margin-top: -22.5px;
                }

                    .row.gtr-150.gtr-uniform > * {
                        padding-top: 22.5px;
                    }

            .row.gtr-200 {
                margin-top: -30px;
                margin-left: -30px;
            }

                .row.gtr-200 > * {
                    padding: 30px 0 0 30px;
                }

                .row.gtr-200.gtr-uniform {
                    margin-top: -30px;
                }

                    .row.gtr-200.gtr-uniform > * {
                        padding-top: 30px;
                    }

    }
